#!/bin/bash

# Make OSX shut up about ZSH.
export BASH_SILENCE_DEPRECATION_WARNING=1

# Merge histories from multiple terminals.
# http://northernmost.org/blog/flush-bash_history-after-each-command/
export PROMPT_COMMAND='history -a'

export HISTSIZE=1000000
export HISTFILE=~/.zsh_history
export SAVEHIST=1000000

# https://askubuntu.com/questions/15926/how-to-avoid-duplicate-entries-in-bash-history
export HISTCONTROL=ignoreboth:erasedups

# History in iex.
export ERL_AFLAGS="-kernel shell_history enabled -kernel shell_history_file_bytes 1024000"

# default editor
export EDITOR='emacsclient -nw -c'

# Lang settings. Was necessary for Cocoapods.
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Put all compiler output in local homedir instead of in projects
export CARGO_BUILD_BUILD_DIR=$HOME/.cache/cargo/target

# if the file exists, set it.
export HOMEBREW_GITHUB_API_TOKEN=$(cat $HOME/.secrets/brew_gh_token)
# do not do autoupdate on brew
export HOMEBREW_NO_AUTO_UPDATE=1


# Remove external-drive settings inherited from an existing shell
unset CARGO_HOME CARGO_TARGET_DIR CARGO_BUILD_BUILD_DIR
unset GOMODCACHE GOCACHE
unset GRADLE_USER_HOME
unset PIP_CACHE_DIR UV_CACHE_DIR
unset npm_config_cache PNPM_STORE_DIR
unset HOMEBREW_CACHE HF_HOME

storage_dev=/Volumes/Storage/dev
maven_external_opt="-Dmaven.repo.local=$storage_dev/maven"

# Prevent duplication when .zshrc is sourced repeatedly
MAVEN_OPTS="${MAVEN_OPTS//$maven_external_opt/}"

if [[ $OSTYPE == darwin* ]] &&
   mount | grep -qF ' on /Volumes/Storage ('; then

    export CARGO_HOME="$storage_dev/cargo"
    export CARGO_TARGET_DIR="$storage_dev/cargo/target"

    export GOMODCACHE="$storage_dev/go/mod"
    export GOCACHE="$storage_dev/go/build"

    export GRADLE_USER_HOME="$storage_dev/gradle"
    export MAVEN_OPTS="${MAVEN_OPTS:+$MAVEN_OPTS }$maven_external_opt"

    export PIP_CACHE_DIR="$storage_dev/pip"
    export UV_CACHE_DIR="$storage_dev/uv"

    export npm_config_cache="$storage_dev/npm"
    export PNPM_STORE_DIR="$storage_dev/pnpm/store"

    export HOMEBREW_CACHE="$storage_dev/homebrew"
    export HF_HOME="$storage_dev/huggingface"
fi

unset storage_dev maven_external_opt