#!/bin/bash

function generate_password() {
    openssl rand -base64 40
}

function gk() {
    gitk --all . & disown
}

function skim() {
    sk \
        --ansi \
        --delimiter : \
        --layout=reverse-list \
        -i \
        -c 'rg --color=always --line-number "{}"' \
        --preview 'bat --color=always --theme 1337 --style=numbers --highlight-line {2} {1}' \
        --preview-window "+{2}-/2" \
        --bind 'ctrl-y:execute-silent(code --goto {1}:{2})+abort'
}

function reset_git() {
    git submodule deinit --all -f
    git submodule update --init --recursive
}

function pubip() {
    curl https://ipinfo.io/ip
}

# docker functions
_d() {
    local -a subcmds
    subcmds=(
        'ps:list all docker containers'
        'rmall:force-remove all containers'
        'vrmall:force-remove all volumes'
        'lsv:list volumes with sizes'
    )
    _describe 'd subcommand' subcmds
}
compdef _d d

function d() {
    case "$1" in
        ps) docker ps -a ;;
        rmall) docker ps -aq | xargs -n1 docker rm -f ;;
        vrmall) docker volume ls -q | xargs -n1 docker volume rm -f ;;
        lsv) docker system df -v | awk '/^VOLUME NAME/{found=1; print "VOLUME\t\t\t\tSIZE"; next} found && /^$/{exit} found{printf "%-40s %s\n", $1, $NF}' ;;
        *) echo "Unknown command: d $1"; return 1 ;;
    esac
}

function gh_cancel_queued() {
    gh run list --status queued --json databaseId --jq '.[].databaseId' | xargs -I {} gh run cancel {}
}

function gh_cancel_in_progress() {
    gh run list --status in_progress --json databaseId --jq '.[].databaseId' | xargs -I {} gh run cancel {}
}


whoport() {
  if [ -z "$1" ]; then
    echo "Usage: whoport <port>"
    return 1
  fi

  if [ "$(uname)" = "Darwin" ]; then
    sudo lsof -nP -iTCP:"$1" -sTCP:LISTEN
  elif [ "$(uname)" = "Linux" ]; then
    sudo ss -ltnp "sport = :$1"
  else
    echo "Unsupported OS: $(uname)"
    return 1
  fi
}