#!/bin/bash

function generate_password() {
    openssl rand -base64 40
}

function gk() {
    gitk --all . & disown
}

function skim() {
    sk \
        --ansi \
        --delimiter : \
        --layout=reverse-list \
        -i \
        -c 'rg --color=always --line-number "{}"' \
        --preview 'bat --color=always --theme 1337 --style=numbers --highlight-line {2} {1}' \
        --preview-window "+{2}-/2" \
        --bind 'ctrl-y:execute-silent(code --goto {1}:{2})+abort'
}

function reset_git() {
    git submodule deinit --all -f
    git submodule update --init --recursive
}

function pubip() {
    curl https://ipinfo.io/ip
}

# docker functions
function d() {
    case "$1" in
        ps) docker ps -a ;;
        rmall) docker ps -aq | xargs -n1 docker rm -f ;;
        vrmall) docker volume ls -q | xargs -n1 docker volume rm -f ;;
        *) echo "Unknown command: d $1"; return 1 ;;
    esac
}
